
    <p-table #dt 
    [scrollable]="true"
    responsiveLayout="scroll"
    [value]="clientes" 
    [paginator]="true" 
    [rows]="5" 
    selectionMode="single"
    [metaKeySelection]="metaKey" 
    [selection]="dataSelected" 
    [rowsPerPageOptions]="[5,10,20]"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [showCurrentPageReport]="true"
    (onPage)="pageChange($event)">
    <ng-template pTemplate="header" >
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Estado</th>
            <th>Accion</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cliente>
        <tr [pSelectableRow]="cliente">
            <td>
                    {{cliente.id}}
            </td>
            <td>
                    {{cliente.name}}
            </td>
            <td>
                {{cliente.lastName}}
            </td>
            <td>
                    {{cliente.email}}
            </td>
            <td>
                    <p-tag
                    [severity]="getSeverity(cliente.isActive)">{{cliente.isActive}}</p-tag>
            </td>
            <td>
                
                <div class="flex justify-content-around">
                    <p-button severity="info" label="Editar" icon="pi pi-file-edit" />
                    <p-button severity="danger" label="Eliminar" icon="pi pi-trash" [swal]="deleteSwal"   />
                </div>

            </td>
        </tr>
        <swal #deleteSwal 
    title="Eliminar cliente" 
    text="Desea eliminar el cliente '{{cliente.name}}'?"  
    icon="error" 
    [showCancelButton]="true"
    [focusCancel]="true"
    (confirm)="onDeleteClient(cliente)">
</swal>
<swal #confirmDeleteSwal 
    title="Cliente eliminado" 
    text="El cliente '{{cliente.name}}' ha sido eliminado correctamente!" 
    icon="success" 
    [showConfirmButton]="true"
    >
</swal>
    </ng-template>
</p-table>
