<div class="grid">
    <div class="col">
        <div class="grid">
            <div class="col text-center">
                <label class="text-6xl mb-4 mt-4">Gestión de clientes</label>
            </div>
        </div>
        <div class="grid">
            <div class="col">
                <p-inputGroup class="mt-4">
                    <input type="text" pInputText placeholder="Buscar clientes" [(ngModel)]="inputName" />
                    <button type="button" pButton icon="pi pi-search" class="p-button-warning" (click)="buscarCliente(inputName)"></button>
                </p-inputGroup>
            </div>
        </div>
        <div class="grid mt-4">
            <div class="col lg:col-8 lg:col-offset-2">
                <app-tabla-clientes  [clientes]="data" />  
                 
            </div>
            
        </div>

        <div class="grid">
            <div class="col">
                <div class="grid">
                    <div class="col">
                        <div class="flex justify-content-center"><p-button (onClick)="showDialog()"> Agregar</p-button>
                        </div>
                    </div>

                    <div class="col">
                        <div class="flex justify-content-center"><p-button (onClick)="clean()"> Limpiar cache</p-button>
                        </div>

                    </div>
                    <div class="col">
                        <div class="flex justify-content-center"><p-button (onClick)="save()"> Guardar Datos</p-button>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <div class="grid">
            <div class="col">
                <app-agregar-cliente-dialog (onVisibleDialogChanged)="onVisibleChanged($event)"
                [visible]="visibleDialog"></app-agregar-cliente-dialog>
            </div>
        </div>


        
    </div>


</div>