<div class="grid">
    <div class="lg:col-6 md:col sm:col">
        <div class="grid">
            <div class="col-3 col-offset-1"><label class="text-6xl mb-4 mt-4">Clientes</label></div>

        </div>
        <div class="grid">
            <div class=" col-4 col-offset-3  sm:col-6 sm:col-offset-3 ">
                <p-inputGroup class="mt-4">
                    <input type="text" pInputText placeholder="Buscar clientes" />
                    <button type="button" pButton icon="pi pi-search" class="p-button-warning"></button>
                </p-inputGroup>
            </div>

        </div>
        <div class="grid mt-4">
            <div class="lg:col lg:col-offset-1 md:col sm:col">

                <label class="sm:text-xs">BLUE LABEL</label>
                <app-tabla-clientes />


            </div>

        </div>


        <div class="grid">
            <div class="col-8 col-offset-1">
                <div class="grid">
                    <div class="col">
                        <div class="flex justify-content-center"><p-button (onClick)="showDialog()"> Agregar</p-button>
                        </div>
                    </div>


                    <div class="col">
                        <div class="flex justify-content-center"><p-button (onClick)="clean()"> Limpiar cache</p-button>
                        </div>

                    </div>
                    <div class="col">
                        <div class="flex justify-content-center"><p-button (onClick)="save()"> Guardar Datos</p-button>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <app-agregar-cliente-dialog (onVisibleDialogChanged)="onVisibleChanged($event)"
            [visible]="visibleDialog"></app-agregar-cliente-dialog>
    </div>


</div>